[req]
default_bits       = 4096
prompt             = no
default_md         = sha256
req_extensions     = req_ext
distinguished_name = dn

[dn]
CN = 0.0.0.0

[req_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = 0.0.0.0
IP.2 = 172.26.192.1
IP.3 = 192.168.1.6
IP.4 = 192.168.56.1
DNS.1 = localhost